<div>
  <table>
    <tr>
      <th>Reg no:</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>

      <th *ngIf="settings.isParent" >Email</th>
      <th *ngIf="settings.isParent" >Ammount</th>

      <th *ngIf="!settings.isParent">School</th>
      <th *ngIf="!settings.isParent">B.day</th>
      <th *ngIf="!settings.isParent">Acc.No</th>
    </tr>
    <tr *ngFor="let item of pageData.list" [routerLink]="['/edit', item.regNum,isParent]" >
      <td >{{item.regNum}}</td>
      <td >{{item.name}}</td>
      <td >{{item.phone}}</td>
      <td >{{item.address}}</td>


      <td *ngIf="settings.isParent" >{{item.email}}</td>
      <td *ngIf="settings.isParent" > {{item.ammount}}</td>


      <td *ngIf="!settings.isParent" >{{item.school}}</td>
      <td *ngIf="!settings.isParent" >{{item.bday | date}}</td>
      <td *ngIf="!settings.isParent" >{{item.accNumber}}</td>
    </tr>
  </table>
</div>

<div>
  <button (click)="nevigate(pageData.currentPageNumber - 1)" [disabled]="pageData.currentPageNumber < 2">Previous</button>

  <button (click)="nevigate(pageData.currentPageNumber+1)" [disabled]="pageData.currentPageNumber >= pageData.maxPageNumber">Next</button>
</div>

