<form #searchForm="ngForm" (ngSubmit)="addEdit(item)" novalidate>
  <div *ngIf="personRegNo != null">
    <label>Registration number:</label>
    <input type="text" [(ngModel)]="item.regNum" [ngModelOptions]="{standalone: true}" disabled>
  </div>

  <div>
    <label>Name:</label>
    <input type="text" ngModel name="fullNname" #fullNname="ngModel" [(ngModel)]="item.name" required>
    <div [hidden]="fullNname.valid || fullNname.pristine"> Please! fill the name</div>
  </div>
  <div>
    <label>Phone:</label>
    <input type="text" ngModel name="phone" #phone="ngModel" [(ngModel)]="item.phone" required>
    <div [hidden]="phone.valid || phone.pristine"> Please! fill the phone number</div>
  </div>

  <div>
    <label>Street Number:</label>
    <input type="text" [(ngModel)]="item.address.streetNum" ngModel name="streetNum" #streetNum="ngModel" required>
    <div [hidden]="streetNum.valid || streetNum.pristine"> Please! fill the street number for address</div>
  </div>

  <div>
    <label>Street:</label>
    <input type="text" [(ngModel)]="item.address.street" ngModel name="street" #street="ngModel" required>
    <div [hidden]="street.valid || street.pristine"> Please! fill the street for address</div>
  </div>

  <div>
    <label>City:</label>
    <input type="text" [(ngModel)]="item.address.city" ngModel name="city" #city="ngModel" required>
    <div [hidden]="city.valid || city.pristine"> Please! fill the city for address</div>
  </div>

  <div *ngIf="!isParent">
    <div>
      <label>School:</label>
      <input type="text" [(ngModel)]="item.school" ngModel name="school" #school="ngModel" required>
      <div [hidden]="school.valid || school.pristine"> Please! fill the school</div>
    </div>
    <div>
      <label>Birth day:</label>
      <input type="date" [(ngModel)]="item.bday" ngModel name="bday" #bday="ngModel" required>
      <div [hidden]="bday.valid || bday.pristine"> Please! fill the bitrh day</div>
    </div>
    <div>
      <label>Account number:</label>
      <input type="text" [(ngModel)]="item.accNumber" ngModel name="accNumber" #accNumber="ngModel" required>
      <div [hidden]="accNumber.valid || accNumber.pristine"> Please! fill the account number</div>
    </div>
  </div>

  <div *ngIf="isParent">
    <div>
      <label>Amount:</label>
      <input type="number" [min]="0" [(ngModel)]="item.ammount" ngModel name="ammount" #ammount="ngModel" required>
      <div [hidden]="ammount.valid || ammount.pristine"> Please! fill a valied ammount</div>
    </div>
    <div>
      <label>Email:</label>
      <input type="email" [(ngModel)]="item.email" ngModel name="email" #email="ngModel" required>
      <div [hidden]="email.valid || email.pristine"> Please! fill a valied email</div>
    </div>
  </div>

  <button>Back</button>
  <button type="submit" [disabled]="!searchForm.valid">Save</button>
</form>
<!--<div *ngIf="personRegNo != null">-->
<!--<list-view [listViewSettings]="{isParent:!isParent}" [listViewParentStdList]="tempPageData" ></list-view>-->
<!--</div>-->
