<div>
  <search-view [searchControllerSettings]="{isParent:false}" ></search-view>
</div>
<div>
  <list-view [listViewSettings]="{isParent:false}" [listViewParentStdList]="tempPageData" ></list-view>
</div>
