<div>
  <search-view [searchControllerSettings]="{isParent:true}" ></search-view>
</div>
<div>
  <list-view [listViewSettings]="{isParent:true}" [listViewParentStdList]="tempPageData" ></list-view>
</div>
