<div >
  <nav class="navbar navbar-inverse" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
      </div>
      <ul class="nav navbar-nav" >
        <li><a [routerLink]="['/parent']" routerLinkActive="active">Parent</a></li>
        <li><a [routerLink]="['/student']" routerLinkActive="active">Student</a></li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet ></router-outlet>
