<div>
  <div>
    <label >Search:</label>
    <input type="text" placeholder="Reg no,Name,.." [(ngModel)]="searchWord">
    <button (click)="searchFor(searchWord)">Search</button>
  </div>
  <div>
    <button (click)="addNew()">Add new</button>
  </div>
</div>
